@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.nav-links a:hover {
  transition: 0.3s;
  background-color: #dddfe3;
  border-radius: 8px;
}

.cta-btn {
  background-color: #1E90FF;
  box-shadow: 0 0 6px #1E90FF;
}

.cta-btn:hover {
  background-color: #1C86EE;
  box-shadow: 0 0 12px #1C86EE;
}

/* Feature Section */
.feature-card {
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

/* Documentation Section */
.documentation-card {
  background-color: #10A594;
  box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.documentation-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}


/* Contact & Feedback Section */

.custom-card {
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.1);
}

.input-box {
  width: 100%;
  padding: 12px 14px;
  border: 1px solid #cacccf;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.contact-box:focus {
  border-color: #1E90FF;
  box-shadow: 0px 0px 0px 2px rgba(30, 144, 255, 0.25);
}

.feedback-box:focus {
  border-color: #4F46E5;
  box-shadow: 0px 0px 0px 2px rgba(79, 70, 229, 0.25);
}

.btn-blue {
  background: linear-gradient(135deg, #1E90FF, #1c7ed6);
  color: white;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn-blue:hover {
  transition: 0.2s ease;
  background: linear-gradient(135deg, #1877cc, #1664b3);
}

.btn-purple {
  background: linear-gradient(135deg, #4F46E5, #4338CA);
  color: white;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.btn-purple:hover {
  transition: 0.4s ease;
  background: linear-gradient(135deg, #3f37c9, #352ea8);
}

/* Effect */