:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  background-image: url('./background/Summer5.png');
  background-size: cover;
  background-position: center;
}