:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  background-image: url('./background/Summer5.png');
  background-size: cover;
  background-position: center;
}

#joystick-container {
  display: none; /* Hidden by default */
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 100px;
  height: 100px;
}

#jump-button {
  display: none; /* Hidden by default */
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  #joystick-container,
  #jump-button {
    display: block; /* Show on mobile */
  }
}